<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AllKanjiBezierPath-OSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>AllKanjiBezierPath-TVOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>AllKanjiBezierPath.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4334AA7E1CB1B36A007F96D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4334AA881CB1B36B007F96D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4334AB211CB1BF35007F96D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4334AB2A1CB1BF35007F96D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4334AB421CB1C3C4007F96D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4334AB4B1CB1C3C4007F96D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4334AB621CB23D65007F96D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4334AB6B1CB23D66007F96D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
